.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  #Header {
    background: #000000 url(https://dmmlkxre2zmz3.cloudfront.net/buildings/26/1558767550.jpg) 100% 100% no-repeat;
    height: 42%;
    width: 100%;
    color: white;
    font-family: cursive;
}